Repository devops247-online/k8s-operator-cloudflare: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, go-fmt, go-vet, gosec, trivy-fs

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for basic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^(config/.*\.yaml|dist/.*|charts/.*/templates/.*)$
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-json
      - id: mixed-line-ending
        args: ['--fix=lf']

  # ESLint for JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|ts|jsx|tsx)$
        additional_dependencies:
          - eslint@8.57.1

  # Go code quality checks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go fmt
        entry: gofmt -w
        language: system
        files: \.go$
      - id: go-vet
        name: Go vet
        entry: go vet ./...
        language: system
        files: \.go$
        pass_filenames: false
      - id: gosec
        name: Go security scan
        entry: bash
        language: system
        files: \.go$
        pass_filenames: false
        args: ['-c', 'if command -v gosec >/dev/null 2>&1; then echo "Running gosec security scan..." && gosec -fmt=text ./...; else echo "⚠️  gosec not installed. Install with: curl -sfL https://raw.githubusercontent.com/securecodewarrior/gosec/master/install.sh | sh -s"; fi']

  # Trivy security scanner
  - repo: local
    hooks:
      - id: trivy-fs
        name: Trivy filesystem scan
        description: Run Trivy filesystem scan
        entry: bash
        language: system
        pass_filenames: false
        files: \.(go|yaml|yml|dockerfile)$
        args: ['-c', 'if command -v trivy >/dev/null 2>&1; then echo "Running Trivy security scan..." && trivy fs --scanners vuln,secret,misconfig --severity HIGH,CRITICAL --exit-code 0 .; else echo "⚠️  Trivy not installed. Install from: https://github.com/aquasecurity/trivy"; fi']

  # Docker security scanning (disabled for now - can be enabled later)
  # - repo: local
  #   hooks:
  #     - id: trivy-docker
  #       name: Trivy Docker image scan
  #       description: Run Trivy Docker image scan
  #       entry: bash -c 'if [ -f Dockerfile ]; then docker build -t local-scan:latest . > /dev/null 2>&1; trivy image --scanners vuln,secret,misconfig --severity HIGH,CRITICAL --exit-code 1 local-scan:latest; docker rmi local-scan:latest > /dev/null 2>&1; fi'
  #       language: system
  #       pass_filenames: false
  #       files: ^Dockerfile$

  # Additional security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

fix: resolve security vulnerabilities in test utilities
  test/utils/utils.go
Due: go-fmt, go-vet, gosec, trivy-fs

test: add comprehensive tests for utils package
  test/utils/utils_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

feat: add CIS Kubernetes Benchmark compliance
  .github/workflows/ci.yml
  README.md
Due: trivy-fs

fix: resolve CI/CD pipeline dependency issues
  .github/workflows/ci.yml
Due: trivy-fs

fix: resolve golangci-lint errcheck issues in tests
  test/utils/utils_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

fix: update Trivy CIS compliance commands to use k8s-cis-1.23
  .github/workflows/ci.yml
  README.md
Due: trivy-fs

fix: resolve GitHub Security Code Scanning vulnerabilities (#23)
  .github/workflows/ci.yml
  README.md
  test/utils/utils.go
  test/utils/utils_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

feat: implement High Availability and Leader Election
  charts/cloudflare-dns-operator/ci/ha-test-values.yaml
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/templates/poddisruptionbudget.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/main.go
  test/e2e/high_availability_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

doc: [] Update documentation
  README.md
Due: none

feat: implement comprehensive health checks and probes (#12)
  charts/cloudflare-dns-operator/ci/health-checks-test-values.yaml
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/main.go
  docs/HEALTH_CHECKS.md
  go.mod
  go.sum
  internal/health/checker.go
  internal/health/checker_test.go
  internal/health/profiling.go
  internal/health/shutdown.go
  test/e2e/health_checks_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

fix: resolve go.mod formatting issue
  go.mod
Due: none

feat: add golangci-lint support and fix code quality issues
  .pre-commit-config.yaml
  api/v1/cloudflarerecord_types_test.go
  internal/health/checker.go
Due: go-fmt, go-vet, gosec, trivy-fs

fix: temporarily comment out CI jobs for faster Codecov testing
  .github/workflows/ci.yml
  go.mod
  internal/health/checker.go
  internal/health/checker_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Restore full CI/CD pipeline and improve test coverage
  .github/workflows/ci.yml
  internal/health/checker_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Fix E2E test for metrics endpoint
  .github/workflows/ci.yml
  .gitignore
  config/manager/manager.yaml
Due: trivy-fs

Fix Kustomize patch conflict for metrics endpoint
  config/default/manager_metrics_patch.yaml
  config/manager/manager.yaml
Due: trivy-fs

Comment out all CI/CD jobs except build and E2E tests
  .github/workflows/ci.yml
  .github/workflows/ci.yml.bak
Due: trivy-fs

Fix E2E test metrics endpoint
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  internal/health/checker.go
Due: go-fmt, go-vet, gosec, trivy-fs

Restore full CI/CD pipeline
  .github/workflows/ci.yml
Due: trivy-fs

Fix unit tests for updated health check behavior
  internal/health/checker.go
  internal/health/checker_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

feat: implement comprehensive health checks and probes (#12) (#26)
  .github/workflows/ci.yml.bak
  .gitignore
  .pre-commit-config.yaml
  api/v1/cloudflarerecord_types_test.go
  charts/cloudflare-dns-operator/ci/health-checks-test-values.yaml
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/main.go
  config/default/manager_metrics_patch.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  docs/HEALTH_CHECKS.md
  go.mod
  go.sum
  internal/health/checker.go
  internal/health/checker_test.go
  internal/health/profiling.go
  internal/health/shutdown.go
  test/e2e/health_checks_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Improve test coverage to 65.2%
  api/v1/cloudflarerecord_types_deepcopy_test.go
  cmd/main_test.go
  internal/health/profiling_test.go
  internal/health/shutdown_test.go
  test/utils/utils_additional_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Improve test coverage to 65.2% (#27)
  api/v1/cloudflarerecord_types_deepcopy_test.go
  cmd/main_test.go
  internal/health/profiling_test.go
  internal/health/shutdown_test.go
  test/utils/utils_additional_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Implement resource optimization and performance tuning features
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/templates/hpa.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/main.go
  docs/PERFORMANCE_TUNING.md
  go.mod
  go.sum
  internal/controller/cloudflarerecord_controller.go
  internal/controller/cloudflarerecord_controller_test.go
  internal/controller/performance_test.go
  internal/metrics/performance.go
  internal/metrics/performance_test.go
  test/hpa_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Fix CI/CD pipeline issues
  charts/cloudflare-dns-operator/templates/deployment.yaml
  test/hpa_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Fix CI/CD code quality check issues
  .github/workflows/ci.yml
  go.mod
  go.sum
Due: trivy-fs

Implement resource optimization and performance tuning features (#28)
  .github/workflows/ci.yml
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/templates/hpa.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/main.go
  docs/PERFORMANCE_TUNING.md
  go.mod
  go.sum
  internal/controller/cloudflarerecord_controller.go
  internal/controller/cloudflarerecord_controller_test.go
  internal/controller/performance_test.go
  internal/metrics/performance.go
  internal/metrics/performance_test.go
  test/hpa_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Improve test coverage and fix linting warnings
  charts/cloudflare-dns-operator/templates/configmap.yaml
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/constants.go
  cmd/main.go
  cmd/main_test.go
  config_coverage.html
  go.mod
  internal/config/constants.go
  internal/config/feature_flags.go
  internal/config/feature_flags_test.go
  internal/config/loader.go
  internal/config/loader_test.go
  internal/config/manager.go
  internal/config/manager_test.go
  internal/config/types.go
  internal/config/types_coverage_test.go
  internal/config/types_test.go
  internal/config/validation.go
  internal/config/validation_coverage_test.go
  internal/config/validation_test.go
  internal/controller/cloudflarerecord_controller.go
  internal/controller/cloudflarerecord_controller_test.go
  internal/controller/performance_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Fix helm chart lint error in ConfigMap template
  charts/cloudflare-dns-operator/templates/configmap.yaml
Due: trivy-fs

Fix duplicate CONFIG_CONFIGMAP_NAME environment variable
  charts/cloudflare-dns-operator/templates/deployment.yaml
Due: trivy-fs

Fix Makefile build target to compile entire cmd package
  Makefile
Due: none

Fix RBAC permissions for CloudflareRecord CRD
  charts/cloudflare-dns-operator/templates/rbac.yaml
Due: trivy-fs

Fix line length violation in values.yaml
  charts/cloudflare-dns-operator/values.yaml
Due: trivy-fs
