Repository devops247-online/k8s-operator-cloudflare: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, go-fmt, go-vet, gosec, trivy-fs

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node
  additional_dependencies:
  - eslint@8.57.1

go-fmt:
  name: Go fmt
  entry: gofmt -w
  language: system

go-vet:
  name: Go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

gosec:
  name: Go security scan
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

trivy-fs:
  name: Trivy filesystem scan
  description: Run Trivy filesystem scan
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  ...

Fix Dockerfile to build entire cmd package
  Dockerfile
Due: none

Update Go version to 1.24.5 in Dockerfile
  Dockerfile
Due: none

Fix module path and E2E tests
  Makefile
  PROJECT
  cmd/main.go
  cmd/main_test.go
  config/manager/kustomization.yaml
  go.mod
  internal/controller/cloudflarerecord_controller.go
  internal/controller/cloudflarerecord_controller_test.go
  internal/controller/performance_test.go
  internal/controller/suite_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

Fix gosec G304 security vulnerability in config loader
  internal/config/loader.go
Due: go-fmt, go-vet, gosec, trivy-fs

Improve test coverage and fix linting warnings (#29)
  Dockerfile
  Makefile
  PROJECT
  charts/cloudflare-dns-operator/templates/configmap.yaml
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/templates/rbac.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/constants.go
  cmd/main.go
  cmd/main_test.go
  config/manager/kustomization.yaml
  config_coverage.html
  go.mod
  internal/config/constants.go
  internal/config/feature_flags.go
  internal/config/feature_flags_test.go
  internal/config/loader.go
  internal/config/loader_test.go
  internal/config/manager.go
  internal/config/manager_test.go
  internal/config/types.go
  internal/config/types_coverage_test.go
  internal/config/types_test.go
  internal/config/validation.go
  internal/config/validation_coverage_test.go
  internal/config/validation_test.go
  internal/controller/cloudflarerecord_controller.go
  internal/controller/cloudflarerecord_controller_test.go
  internal/controller/performance_test.go
  internal/controller/suite_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
Due: go-fmt, go-vet, gosec, trivy-fs

feat: implement comprehensive Prometheus metrics and monitoring (#15)
  charts/cloudflare-dns-operator/templates/service.yaml
  charts/cloudflare-dns-operator/templates/servicemonitor.yaml
  charts/cloudflare-dns-operator/values.yaml
  detailed_coverage.html
  e2e/metrics_test.go
  e2e/suite_test.go
  internal/controller/cloudflarerecord_controller.go
  internal/metrics/business.go
  internal/metrics/business_test.go
  internal/metrics/cloudflare.go
  internal/metrics/cloudflare_test.go
  internal/metrics/performance_test.go
  metrics_coverage.html
  metrics_coverage_final.html
Due: go-fmt, go-vet, gosec, trivy-fs

Add comprehensive Grafana dashboards and Prometheus alerting for DNS operator
  charts/cloudflare-dns-operator/dashboards/dns-management.json
  charts/cloudflare-dns-operator/dashboards/operator-overview.json
  charts/cloudflare-dns-operator/dashboards/performance-resource.json
  charts/cloudflare-dns-operator/dashboards/sla-slo-tracking.json
  charts/cloudflare-dns-operator/dashboards/troubleshooting.json
  charts/cloudflare-dns-operator/templates/grafana-dashboards-configmap.yaml
  charts/cloudflare-dns-operator/templates/prometheusrule.yaml
  charts/cloudflare-dns-operator/tests/grafana_configmaps_test.yaml
  charts/cloudflare-dns-operator/tests/monitoring_test.yaml
  charts/cloudflare-dns-operator/tests/servicemonitor_test.yaml
  charts/cloudflare-dns-operator/values.yaml
  docs/MONITORING.md
Due: trivy-fs

Fix yamllint line-length errors in values.yaml
  charts/cloudflare-dns-operator/values.yaml
Due: trivy-fs

Add comprehensive Grafana dashboards and Prometheus alerting rules (#31)
  charts/cloudflare-dns-operator/dashboards/dns-management.json
  charts/cloudflare-dns-operator/dashboards/operator-overview.json
  charts/cloudflare-dns-operator/dashboards/performance-resource.json
  charts/cloudflare-dns-operator/dashboards/sla-slo-tracking.json
  charts/cloudflare-dns-operator/dashboards/troubleshooting.json
  charts/cloudflare-dns-operator/templates/grafana-dashboards-configmap.yaml
  charts/cloudflare-dns-operator/templates/prometheusrule.yaml
  charts/cloudflare-dns-operator/tests/grafana_configmaps_test.yaml
  charts/cloudflare-dns-operator/tests/monitoring_test.yaml
  charts/cloudflare-dns-operator/tests/servicemonitor_test.yaml
  charts/cloudflare-dns-operator/values.yaml
  docs/MONITORING.md
Due: trivy-fs

feat: implement structured logging and distributed tracing (#17)
  .golangci.yml
  charts/cloudflare-dns-operator/templates/_logging-helpers.tpl
  charts/cloudflare-dns-operator/templates/_tracing-helpers.tpl
  charts/cloudflare-dns-operator/templates/configmap.yaml
  charts/cloudflare-dns-operator/templates/deployment.yaml
  charts/cloudflare-dns-operator/values.yaml
  cmd/constants.go
  cmd/main.go
  docs/LOGGING_TRACING.md
  go.mod
  go.sum
  internal/config/manager_test.go
  internal/config/types.go
  internal/config/types_coverage_test.go
  internal/config/types_test.go
  internal/config/validation.go
  internal/controller/cloudflarerecord_controller.go
  internal/integration_test.go
  internal/logging/config.go
  internal/logging/config_test.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/logging/middleware.go
  internal/logging/middleware_test.go
  internal/tracing/config.go
  internal/tracing/config_test.go
  internal/tracing/tracer.go
  internal/tracing/tracer_test.go
  test/e2e/e2e_test.go
  test/utils/utils.go
Due: go-fmt, go-vet, gosec, trivy-fs

Update Go version from 1.24.5 to 1.24.6 in Dockerfile
  Dockerfile
Due: none

Update Go version from 1.24.5 to 1.24.6 in Dockerfile (#1)
  Dockerfile
Due: none

Upgrade Go version to 1.25
  Dockerfile
  README.md
Due: none

Update CI/CD to use Go 1.25
  go.mod
Due: none

Update golangci-lint to v2.3.1 for Go 1.25 support
  .github/workflows/ci.yml
Due: trivy-fs

Add Dependabot configuration for Go, Docker, and GitHub Actions
  .github/dependabot.yml
Due: trivy-fs

Path conditions:
  eslint: any of: \.(js|ts|jsx|tsx)$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  gosec: any of: \.go$
  trivy-fs: any of: \.(go|yaml|yml|dockerfile)$
